@import '../../assets/variable.scss';

.obj {

    &__item {
        background-color: $secondColor;
        border-radius: 10px;
        overflow: hidden;
        margin: 2rem 0;
        margin-left: 2rem;
    }

    &__processing {
        background-color: $orange;
        margin: 0;
        padding: 1rem 1.5rem;
    }
    &__des {
        margin-left: calc(2rem + 16px);
    }
}