@import '../../assets/variable.scss';

.header--homePage {
    background-color: $secondColor;
    margin: 2rem auto;
    padding: 20px 5px;
    border-radius: 4px;
    .user {

        &__avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}

