@import './assets/variable.scss';
html {
    font-size: 18px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn-normal {
    border: 1px solid $gray;
    &:hover {
        color: $mainColor;
        transition: color 0.5s ease;
    }
    &:focus {
        border: 1px solid $mainColor;
    }
}
.btn-submit,
.btn-submit:hover,
.btn-submit:focus {
    background-color: $mainColor;
    color: $white;
    border-radius: 10px;
    margin: auto;
}

Link,
a {
    color: $mainColor;
    text-decoration: none;
}
